@import "/home/ash/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family:
        "SF Pro Text", /*"Noto Sans Arabic"*/ "Noto Sans", "Noto Sans CJK JP",
        "JetBrainsMono Nerd Font", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: @color0;
    color: @foreground;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 2px solid @color1;
}

#window {
    color: @color7;
    margin: 4px 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 24px;
}

button {
    box-shadow: inset 0 -3px transparent;
}

button:hover {
    background: inherit;
    color: @color6;
    border-top: 2px solid @color6;
}

#workspaces button {
    padding: 0 10px;
    color: @color4;
    min-height: 24px;
}

#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: @color5;
    border-top: 2px solid @color5;
}

#workspaces button.urgent {
    background-color: @color1;
    color: @foreground;
}

#pulseaudio,
#clock,
#battery,
#backlight,
#tray,
#language,
#keyboard-state,
#custom-cava,
#custom-swaync {
    margin: 4px 6px;
    padding: 0 8px;
    min-height: 24px;
}

#clock {
    color: @color3;
    border-bottom: 2px solid @color3;
}

#pulseaudio {
    color: @color2;
    border-bottom: 2px solid @color2;
}

#backlight {
    color: @color4;
    border-bottom: 2px solid @color4;
}

#battery {
    color: @color2;
    border-bottom: 2px solid @color2;
}

#battery.warning {
    color: @color1;
}

#battery.critical:not(.charging) {
    color: @color1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#language {
    color: @color5;
    border-bottom: 2px solid @color5;
}

#custom-cava {
    color: @color6;
    border-bottom: 2px solid @color6;
}

#custom-swaync {
    color: @color4;
    border-bottom: 2px solid @color4;
}

#tray {
    color: @color7;
}

@keyframes blink {
    to {
        background-color: @color1;
        color: @foreground;
    }
}
