@import "/home/ash/.cache/wal/colors-waybar.css";

@define-color pywal-module-bg alpha(@color0, 0.7);
@define-color pywal-border alpha(@color4, 0.8);
@define-color pywal-text @color7;

* {
    border: none;
    border-radius: 0;
    font-family:
        "Noto Sans Arabic", "Noto Sans", "Noto Sans CJK JP",
        "JetBrainsMono Nerd Font", sans-serif;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: -0.5px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
}

tooltip {
    background: @color0;
    color: @color7;
    border: 2px solid @color4;
    border-radius: 8px;
}

#clock,
#custom-swaync,
#battery,
#window,
#workspaces,
#custom-cava,
#tray,
#language,
#pulseaudio {
    padding: 2px 10px;
    border-radius: 14px;
    margin: 4px 3px;
    background-color: @pywal-module-bg;
    color: @color7;
    border: 2px solid @pywal-border;
    transition: all 0.3s cubic-bezier(0.55, -0.04, 0.3, 1.44);
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
    margin: 0;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px 5px;
    margin: 0 3px;
    border-radius: 8px;
    background-color: transparent;
    color: @color4;
}

#workspaces button.active {
    background-color: @color4;
    color: @color0;
    min-width: 40px;
}

#workspaces button:hover {
    background-color: alpha(@color4, 0.2);
    color: @color4;
    border-radius: 12px;
}

#workspaces button.urgent {
    background-color: @color1;
    color: @color0;
    border-radius: 12px;
}

#custom-swaync {
    color: @color1;
}

#battery.charging {
    color: @color2;
}

#battery.warning:not(.charging) {
    color: @color3;
}

#battery.critical:not(.charging) {
    color: @color1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @color1;
        color: @color0;
    }
}

#custom-cava,
#pulseaudio {
    color: @color5;
}

#window {
    color: @color6;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    min-height: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
}
